border-radius(r = 2px)
  -webkit-border-radius r
  -moz-border-radius r
  border-radius r

transition()
    -webkit-transition: arguments
    -ms-transition: arguments
    -o-transition: arguments
    -moz-transition: arguments
    transition: arguments 
    
animation = background-color 0.5s, color 0.7s, opacity 0.5s
.test
  border-radius(8px)
  transition(animation)